<!DOCTYPE html>
<html>
<head>
    <title>HWIOAuth + FOSUser Demo</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body style="padding-top: 100px">

    <div class="container">
        <div class="row-fluid">

            {% if is_signed %}

            <div class="span6 well">
                <h2>Welcome on board, {{ user.username }}! </h2>
                <a href="logout" class="btn btn-small pull-right">
                    Exit &nbsp; <i class="icon-circle-arrow-right"></i>
                </a>
            </div>

            {% else %}

            <div class="span6 offset8 well">



                <div class="row">


                    <div class="span6 offset1">
                        <form action="login_check" method="post">
                            <h5>FOS Auth:</h5>

                            <label for="username">
                                Email:
                            </label>
                            <input type="email" class="input-block-level" id="username" name="_username" value="{{ last_username }}">

                            <label for="password">
                                Password
                            </label>
                            <input type="password"  id="password" name="_password" class="input-block-level">

                            <input type="submit" class="btn btn-primary pull-right" value="SignIn" />

                            <label class="checkbox ">
                                <input type="checkbox" name="_remember_me" value="on"> Check me out
                            </label>

                        </form>
                    </div>
                    <div class="span4 offset1">
                        <h5>HWIOAuth:</h5>
                        <br/>

                        <a href="{{ url('hwi_oauth_service_redirect', {'service':'twitter'}) }}" class="btn btn-large btn-block  btn-info text-left">
                            <i class="icon-twitter-sign"></i> &nbsp;
                            Twitter &nbsp; &nbsp;&nbsp;
                        </a>

                        <a href="{{ url('hwi_oauth_service_redirect', {'service':'linkedin'}) }}" class="btn btn-large btn-block btn-inverse text-left">
                            <i class="icon-linkedin-sign"></i> &nbsp;
                            LinkedIn &nbsp;
                        </a>

                        <a href="{{ url('hwi_oauth_service_redirect', {'service':'facebook'}) }}" class="btn btn-large btn-block btn-primary text-left">
                            <i class="icon-facebook-sign"></i> &nbsp;
                            Facebook
                        </a>

                    </div>
                </div>
                {% if error %}
                    <div class="row">
                        <div class="span11 offset1 text-center">
                            <br/>
                            <div class="label label-important">{{ error.message }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% endif %}

        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>